<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      ระบบงานบริการงานซ่อมบำรุง
      <h5 class="hint">กรุณาลงชื่อเข้าใช้งานระบบ</h5>
    </section>
    <div class="login-group">
      <input class="username" type="text" name="login_username" placeholder="Username" [(ngModel)]="username">
      <input class="password" type="password" name="login_password" placeholder="Password" [(ngModel)]="password">
      <div class="error active" *ngIf="isError">
        {{ errMsg }}
      </div>
      <button type="button" (click)="doLogin()" class="btn btn-primary" [disabled]="!username || !password">NEXT</button>
      <a href="javascript://" class="signup">Sign up for a Company ID</a>
    </div>
  </form>
</div>
